* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#f1f3f5;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

header {
    height: 35vh;
    background-color: #fff;
    background-image: url("https://images.unsplash.com/photo-1430826032205-b84a31521ea6?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740");
    background-size: cover;
    background-position: center 30%;
}

footer {
    text-align: center;
    background-color: cadetblue;
}

section {
    margin: 5vw;
    border-radius: 5px;
    background-color: #ced4da;
    padding: 40px 60px;
    line-height: 1.6;
    color: #343a40;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

section h2 {
    margin-bottom: 30px;
}

section li {
    margin-left: 30px;
    margin-top: 10px;
}

p {
    margin-bottom: 1vh;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
}

.ibis-image {
    width: 40%;
}